/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
	list-style: none;
}

/* SIDEBAR */
#logo a {
  font: 700 1.875rem "Roboto", sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
}

#logo {
  display: flex;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  width: 13.75rem;
  height: 4.25rem;
  align-items: center;
}

#sidebar {
  width: 13.75rem;
  box-shadow: 0px 0px 10px 0px #00000040;
  position: absolute;
  height: 100%;
}

#sidebar nav li {
  position: relative;
}

#sidebar nav li:hover {
  background: #FDF1EB;
  cursor: pointer;
}

#sidebar nav li a {
  height: 2.0625rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1.8125rem;
  font: 500 0.9375rem "QuickSand", sans-serif;
  color: #725C5C;
  transition: background 0.3s;
}

#sidebar nav li::after {
  content: '';
  height: 2px;
  width: 13.75rem;
  background: #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 0;
}

#active {
  background: #FDF1EB;
}

#sidebar #active a {
  margin-left: 2rem;
}

#sidebar #active::before {
  content: '';
  height: 33px;
  width: 5px;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  position: absolute;
  left: 0;
  top: 0;
}

