/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
	list-style: none;
}

/* BASE */
.layout {
  display: flex;
}

.content {
  width: 100%;
}

/* SIDEBAR */
#logo a {
  font: 700 1.875rem "Roboto", sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
}

#logo {
  display: flex;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  width: 13.75rem;
  height: 4.25rem;
  align-items: center;
}

#logo i {
  display: none;
}

#sidebar {
  width: 13.75rem;
  box-shadow: 0px 0px 10px 0px #00000040;
}

#sidebar nav li {
  position: relative;
}

#sidebar nav li:hover {
  background: #FDF1EB;
  cursor: pointer;
}

#sidebar nav li a {
  height: 2.0625rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1.8125rem;
  font: 500 0.9375rem "QuickSand", sans-serif;
  color: #725C5C;
  transition: background 0.3s;
}

#sidebar nav li::after {
  content: '';
  height: 2px;
  width: 13.75rem;
  background: #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 0;
}

#active {
  background: #FDF1EB;
}

#sidebar #active a {
  margin-left: 2rem;
}

#sidebar #active::before {
  content: '';
  height: 33px;
  width: 5px;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  position: absolute;
  left: 0;
  top: 0;
}

/* HEADER */
header {
  height: 4.25rem;
  width: 100%;
  background: #FDF1EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 2.25rem;
}

header h3 {
  font: 400 0.875rem "Roboto", sans-serif;
  color: #725C5C;
}

header h2 {
  font: 400 1.375rem "Roboto", sans-serif;
  color: #725C5C;
}

.language select {
  border: solid 1px #CCCCCC;
  border-radius: 3px;
  background: none;
  height: 34px;
  width: 97px;
  color: #333333;
  font: 400 0.875rem "Quicksand", sans-serif;
  padding-left: 1.5rem;
}

header img {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}

.account {
  display: flex;
  align-items: center;
  text-align: right;
  font: 400 0.875rem "Quicksand", sans-serif;
  color: #333333;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  margin: 0 0.4375rem 0 1.375rem;
}

.language {
  position: relative;
}

.language::before {
  content: '';
  	background: no-repeat url(../images/icons/globe.png);
		position: absolute;
		top: 6px;
		left: 4px;
    height: 20px;
    width: 20px;
}

.profile-image {
position: relative;
}

.notification {
  position: absolute;
  font: 700 0.625rem "Roboto", sans-serif;
  color: #FFFFFF;
  background: #F85959;
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50%;
  right: 0px;
  cursor: pointer;
}

/* MAIN */

main h1 {
  font: 900 1.25rem "Roboto", sans-serif;
  color: #ED7839;
}

.container {
  margin: 1.25rem 2.75rem;
  display: flex;
  justify-content: space-between;
}

#player-video {
  max-width: 100%; 
  margin-top: 25px;
}

#post {
  max-width: 70%;
}

.post-info button {
  height: 31px;
  width: 43px;
  background: #ED7839;
  border: none;
  color: #FFFFFF;
  font: 500 1rem "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
}

.post-info button:first-child {
  width: 120px;
}

.post-info div:first-of-type { 
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.post-info button img {
  margin: 6px 12px;
}

.post-info h3 {
  font: 500 0.875rem "Roboto", sans-serif;
  color: #ED7839;
  text-align: end;
}

.case {
  border: solid 1px #ECECEC;
  border-radius: 3px;
}

.details {
  height: calc(100% - 75px);
  width: 242px;
}
.case h2 {
  color: #4E4E4E;
  font: 500 1.25rem "Roboto", sans-serif;
  padding: 11px 15px;
  background: #FDF1EB;
  margin-bottom: 15px;
}

.details ul {
  margin: 0px 15px 15px 15px;
}

.details ul:first-of-type li {
  font: 400 0.75rem "Quicksand", sans-serif;
  color: #5C5C5C;
  margin-bottom: 5px;
}

.details span {
  font-weight: 700;
}

.details h3 {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0;
  font: 700 0.875rem "Quicksand", sans-serif;
  color: #5C5C5C;
}

.details ul:nth-of-type(2) li {
  color: #5C5C5C;
  font: 400 0.875rem "Quicksand", sans-serif;
}

.details ul sup, .details ul:last-of-type {
  color: #ADA0A0;
  font: 400 0.75rem "Quicksand", sans-serif;
}

/* RESUME */
.resume, .discussions{
  flex-direction: column;
}

.resume p {
  margin: 0 15px 35px 15px;
  font: 400 0.875rem "Quicksand", sans-serif;
  color: #5C5C5C;
}

#seeMore {
  display: none;
}

#seeMoreButton {
  color: #ED7839;
  font: 700 0.875rem "Quicksand", sans-serif;
  cursor: pointer;
}

.resume .visible {
  display: inline;
}

/* DISCUSSIONS */
.discussions h3 {
  color: #ED7839;
  font: 700 1.125rem "Roboto", sans-serif;
  margin-bottom: 27px;
}

.ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ideas div img:nth-child(2) {
  margin: 0 50px;
}

.ideas p {
  font: 400 0.875rem "Quicksand", sans-serif;
  color: #595959;
  margin-bottom: 14px;
  margin-top: 35px;
  max-width: 70%;
  text-align: center;
}

.ideas button, #newTopicSuccess button {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  border: none;
  color: #FFFFFF;
  font: 700 0.9375rem "Quicksand", sans-serif;
  height: 32px;
  width: 133px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #0000003D;
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
  z-index: 1;
  cursor: pointer;
}

.ideas::after, #newTopicSuccess::after {
  content: '';
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  background: #E7E7E7;
  bottom: 28px;
}

.ideas button img {
  position: absolute;
  left: 14px;
  top: 8px;
}

#newTopicSuccess {
  display: none;
  flex-direction: column;
  align-items: center;  
  position: relative;
}

#newTopicSuccess h3 {
  margin-bottom: 18px;
}

#newTopicSuccess p {
  font: 400 0.875rem "Quicksand", sans-serif;
  margin-bottom: 29px;
  text-align: center;
}

#newTopicSuccess a, #overlay a {
  font: 500 0.875rem "Quicksand", sans-serif;
  color: #F48F44;
  text-decoration: underline;
  margin-bottom: 47px;
}

#newTopicSuccess button {
  width: 30%;
  padding-left: 0;
  margin: 0 auto 14px auto;
}
/* QUESTIONS */ 
#newTopic {
  display: none;
  position: relative;
}

#newTopic .info-question, #newTopic .links {
  filter: blur(8px);
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#overlay i, #overlay h3 {
  color: #707070;
}

#overlay a {
  margin-bottom: 0;
}

.question {
  margin: 2px 15px 15px 15px;
  border: solid 1px #E7E7E7;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px #0000001F;
}

.info-question{
  padding: 18px 24px 0 24px;
}

.links {
  padding: 0px 24px 18px 24px;
}

.question h3 {
  font: 700 1rem "Quicksand", sans-serif;
  margin: 0;
}

.question p:nth-child(2) {
  color: #5C5C5C;
  font: 500 0.75rem "Quicksand", sans-serif;
}

.question p:nth-child(3) {
  color: #4D4D4D;
  font: 400 0.875rem "Quicksand", sans-serif;
  margin: 10px 0;
}

.question button {
  border: none;
  background: none;
  cursor: pointer;
}

.question button:nth-of-type(2) {
  background: #ED7839;
  color: #FFFFFF;
  height: 19px;
  width: 27px;
  border-radius: 2px;
}

.links {
  display: flex;
  gap: 15px;
}

.question a {
  color: #757575;
  font: 350 0.875rem "Segoe UI", "Quicksand", sans-serif;
}

.more-answers  {
  flex-direction: column;
  display: none;
}

.more-answers div {
  flex-direction: column;
  padding: 18px 24px;
  border-top: 1px solid #F8F8F8;
}

.question .more-answers div p {
  font: 400 .875rem "Quicksand", sans-serif;
  color: #4D4D4D;
}

.more-answers div p:first-child {
  font: 700 0.75rem "Quicksand", sans-serif;
}

.more-answers div span {
  text-align: right;
  color: #ED7839;
  font: 700 0.875rem "Quicksand", sans-serif;
}

.more-answers div p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.autor {
  background: #E7E7E7;
}

/* FORM */
#form {
  width: 100%;
  display: none;
}

form {
  margin: 15px;
}

#form label {
  color: #ED7839;
  font: 700 1rem "Roboto", sans-serif;
}

#form p {
  max-width: 100%;
  margin: 0 0 22px 0;
  font: 400 0.875rem "Quicksand", sans-serif;
  text-align: center;
  color: #5C5C5C;
}

.form-subject {
  display: flex;
  flex-direction: column;
}

#subject, form textarea {
  padding: 10px 24px;
  font: 400 0.875rem "Quicksand", sans-serif;
}

#subject {
  margin-bottom: 10px;
}

.form-options input {
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border: none;
  color: #FFFFFF;
  font: 700 0.9375rem "Quicksand", sans-serif;
  height: 32px;
  width: 20%;
  border-radius: 0 0 4px 0px;
  cursor: pointer;
}

.form-options {
  display: flex;
}

.form-options div {
  background: #EAF1F2;
  width: 80%;
  border: 1px solid #CCCCCC;
  border-bottom-left-radius: 4px;
  padding-left: 24px;
}

.form-options div img {
  margin: 10px 30px 0 0;
}

/* FOOTER */
footer {
  margin-top: 65px;
  margin-left: 15px;
}


/* MODAL */
.modal {
  height: 100%;
  width: 100%;
  background: #ED7839;
  position: fixed;
  color: #FFFFFF;
  top: 0;
  left: 0;
  z-index: 10;  
  display: none;
  justify-content: center;
  padding: 10% 0%;
}

.modal ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal li a {
  color: #FFFFFF;
  font: 700 3rem "Roboto", sans-serif;
}

.modal li a:hover {
  color: #DDDDDD;
}

/*RESPONSIBILITY*/
@media (max-width: 1400px) {
  footer img {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .details {
    width: 90%;
    height: 70%;
    overflow-y: scroll;
    margin-left: 10%;
  }

  header {
    height: 120px;
  }
}

@media (max-width: 1160px) {
  .container {
    flex-direction: column;
  }
  .details {
    width: 100%;
    overflow-y: hidden;
    margin-left: 0;
  }

  #post {
    max-width: 100%;
  }

  .quote {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  header h3{
    font-size: 0.75rem;
  }

  header h2{
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  aside nav ul {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-around;
  }

  #sidebar nav ul li a, #sidebar #active a {
    margin: 0;
    height: 3rem;
  }

  #sidebar #active a {
    padding: 5px;
  }

  #sidebar #active::before {
  height: 0;
  }

  aside img {
    display: none;
  }

  #sidebar, #logo {
    width: 100%;
  }

  #sidebar nav li::after {
    height: 0;
  }

  #sidebar ul {
    border-bottom: 1px solid #E7E7E7;
  }

  .layout {
    display: block;
  }

  .language::before {
    display: none;
  }

  .language select {
    padding: 0;
    width: 70px;
    height: 20px;
  }

  .info {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .account p {
    font-size: 12px;
  }
}
@media (max-width: 530px) {
  aside nav {
    display: none;
  }

  header {
    height: 200px;
  }

  .info {
    flex-direction: row;
  }

  .post-info h3 {
    margin-right: 10px
  }

  .header {
    flex-direction: column;
  }

  .header h3, .header h2 {
    text-align: center;
    margin: 10px 0;
  }

  #newTopicSuccess button {
    width: 40%;
  }

  .discussions h3 {
    text-align: center;
  }

  #logo {
    justify-content: space-between;
    padding: 0 2.75rem;
  }

  #logo a {
    margin: 0;
  }

  #logo i {
    display: block;
    color: #FFFFFF;
    cursor: pointer;
  }
}